[submodule "third_party/hyperliquid-sdk-cpp"]
	path = third_party/hyperliquid-sdk-cpp
	url = https://github.com/TuxedoFish/hyperliquid-sdk-cpp.git
[submodule "third_party/quickfix"]
	path = third_party/quickfix
	url = https://github.com/quickfix/quickfix.git
	ignore = dirty
